.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.grid > div {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 10px;
}
